@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  background-image: url("https://ik.imagekit.io/phl0at/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

next-route-announcer {
  display: none;
}
nextjs-portal {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
